<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacts</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
          <img src="{% static 'images/лого1.png' %}" alt="Shell Logo" class="logo-image">
          <span class="logo-text">SHELL</span>
        </div>
        <nav>
            <ul class="nav-links">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li><a href="{% url 'contacts' %}">Contacts</a></li>
              <li><a href="{% url 'registration' %}">Registration</a></li>
            </ul>
        </nav>
    </header>

    <main class="contacts-page">
      <h1 class="section-title">Our Contacts</h1>
      <div class="contacts-container">
        <div class="contact-item">
          <div class="circle-icon">
            <img src="{% static 'images/телефон-removebg-preview.png' %}" alt="Phone">
          </div>
          <div class="contact-info">
            <p>Call us at:</p>
            <p>+3758938742</p>
          </div>
        </div>
        <div class="contact-item">
          <div class="circle-icon">
            <img src="{% static 'images/почта-removebg-preview.png' %}" alt="Email">
          </div>
          <div class="contact-info">
            <p>Email:</p>
            <p>mail@gmail.com</p>
          </div>
        </div>
        <div class="contact-item">
          <div class="circle-icon">
            <img src="{% static 'images/часы-removebg-preview.png' %}" alt="Clock">
          </div>
          <div class="contact-info">
            <p>Opening hours:</p>
            <p>Tuesday - Sunday 16:00-2:00<br>Monday off</p>
          </div>
        </div>
        <div class="contact-item">
          <div class="circle-icon">
            <img src="{% static 'images/место-removebg-preview.png' %}" alt="Location">
          </div>
          <div class="contact-info">
            <p>Our address:</p>
            <p>City, street name, house</p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="social-icons">
        <a href="#" class="social-link">
          <div class="circle">
            <img src="{% static 'images/инста.png' %}" alt="Instagram">
          </div>
        </a>
        <a href="#" class="social-link">
          <div class="circle">
            <img src="{% static 'images/ютуб.png' %}" alt="YouTube">
          </div>
        </a>
        <a href="#" class="social-link">
          <div class="circle">
            <img src="{% static 'images/ватсап.png' %}" alt="WhatsApp">
          </div>
        </a>
        <a href="https://t.me/shell_bar" class="social-link">
          <div class="circle">
            <img src="{% static 'images/тг.png' %}" alt="Telegram">
          </div>
        </a>
      </div>
      <p>&copy; 2025 Shell Bar. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/scrypt.js' %}"></script>
</body>
</html>
